.idea
.terraform
terraform.tfstate
terraform.tfstate.backup
DS.Store
ok.vscode
logs
logs.txt
vars/aws-secrets.yml
__init__.py
**/__pycache__/
role/newrelic
ansible_collections
ansible-build
bin
.ansible-lint
.cfnlintrc
.yamllint
.flake8
ansible.cfg
ansible_test.cfg
ssh_config
ssh_config_test
ansible_plugins
temp